---
const { workDetail, index } = Astro.props;
const { title, desc, role, thumbnail, link } = workDetail;
const isEven = index % 2 === 0;
---

<article class="w-full overflow-hidden relative group pb-10">
  <div
    class={`flex flex-col items-center justify-between space-x-5 
    ${isEven ? "md:flex-row" : "md:flex-row-reverse"}`}
  >
    <div class="w-full md:w-1/2">
      <img src={thumbnail} alt="projectImage" class="rounded-lg" />
    </div>

    <div class="flex flex-col w-full md:w-1/2">
      <h2 class="dark:text-white font-semibold text-4xl">{title}</h2>
      <p class="pt-3 text-blue">Role : {role}</p>
      <p class="dark:text-white pt-5">
        {desc}
      </p>
      <div
        class={`mt-8 flex items-center flex-row  ${
          isEven ? "justify-center" : "justify-center"
        }`}
      >
        {
          !link ? (
            <p class="text-blue">Restricted access internal tool</p>
          ) : (
            <a
              href={link}
              class="group cursor-pointer w-40 relative inline-block text-md font-semibold text-white focus:outline-none focus:ring"
              target="_blank"
            >
              <span class="absolute inset-0 border border-blue group-active:border-blue" />
              <span class="block border border-blue py-2 flex justify-center bg-blue items-center transition-transform active:border-blue active:bg-blue group-hover:-translate-x-1 group-hover:-translate-y-1">
                Visit Project
              </span>
            </a>
          )
        }
      </div>
    </div>
  </div>
</article>
